<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.BoardMapper">
    <insert id="save" parameterType="BoardDTO">
        insert into board_table(
            BOARD_TITLE,
            BOARD_WRITER,
            BOARD_PASS,
            BOARD_CONTENTS
        ) values (
            #{boardTitle},
            #{boardWriter},
            #{boardPass},
            #{boardContents}
        )
    </insert>

    <select id="findAll" resultType="BoardDTO">
        select
            ID,
            BOARD_TITLE,
            BOARD_WRITER,
            BOARD_PASS,
            BOARD_CONTENTS,
            BOARD_HITS,
            DATE_FORMAT(CREATED_AT, "%Y-%m-%d") AS CREATED_AT,
            FILE_ATTACHED
        from BOARD_TABLE ORDER BY ID;
    </select>

    <select id="updateHits" parameterType="Long">
        <![CDATA[
            update BOARD_TABLE
                set BOARD_HITS = BOARD_HITS + 1
                where id = #{id}
        ]]>
    </select>

    <select id="findById" parameterType="Long" resultType="BoardDTO">
        <![CDATA[
           select
               ID,
               BOARD_TITLE,
               BOARD_WRITER,
               BOARD_PASS,
               BOARD_CONTENTS,
               BOARD_HITS,
               DATE_FORMAT(CREATED_AT, "%Y-%m-%d") AS CREATED_AT,
               FILE_ATTACHED
           from BOARD_TABLE
           where id = #{id}
        ]]>
    </select>
</mapper>